{% extends "cart/base.html" %}
{% block title %}
Menu
{%endblock%}
{% block body %}
<form action="" method="post">
{% csrf_token %}
    <select name="Pizza">
    <option value="" selected disabled hidden>Choose Pizza</option>
    {% for pizza in pizzas %}
        <option value="{{pizza.id}}">{{pizza.name}}, {{pizza.size}} </option>
    {%endfor%}
    </select>
        <select name="Topping 1">
        <option value="" selected disabled hidden>Topping 1</option>
    {% for topping in toppings %}
        <option value="{{topping.id}}">{{topping.name}} </option>
    {%endfor%}
    </select>
            <select name="Topping 2">
            <option value="" selected disabled hidden>Topping 2</option>
    {% for topping in toppings %}
        <option value="{{topping.id}}">{{topping.name}} </option>
    {%endfor%}
    </select>
            <select name="Topping 3">
            <option value="" selected disabled hidden>Topping 3</option>
    {% for topping in toppings %}
        <option value="{{topping.id}}">{{topping.name}} </option>
    {%endfor%}
    </select>
    <input type="submit" value="Order Pizza"/>
</form>
{% endblock %}